<div class="container">
  <ngb-accordion
    #accordion="ngbAccordion"
    activeIds="accordion-quiz"
    [destroyOnHide]="false"
    [closeOthers]="true"
    (panelChange)="onPanelChange($event)"
  >
    <ngb-panel id="accordion-quiz">
      <ng-template ngbPanelTitle>
        <span>Quiz</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col-12"><app-quiz></app-quiz></div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="accordion-target">
      <ng-template ngbPanelTitle>
        <span>Targets</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container">
          <div class="row">
            <div class="col-12"><app-target-tabbing></app-target-tabbing></div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
