<div class="container">
  <div class="row">
    <div class="col-8">
      <h2 class="my-2">Scoreboard</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 5em">Place</th>
            <th scope="col">Name</th>
            <th scope="col " style="width: 5em">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let nameScore of gameStateService.scores; let idx = index"
          >
            <th scope="row">{{ idx + 1 }}</th>
            <td>{{ nameScore[0] }}</td>
            <td>{{ nameScore[1] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h2 class="my-2">Game Controls</h2>
      <button class="btn btn-success w-100 my-1" (click)="gameState('start')">
        Start Game
      </button>
      <button class="btn btn-danger w-100 my-1" (click)="gameState('stop')">
        Stop Game
      </button>
      <hr />
      <button
        class="btn btn-dark w-100 my-1"
        (click)="startChallenge('collision')"
      >
        Collision Challenge
      </button>
      <button
        class="btn btn-dark w-100 my-1"
        (click)="startChallenge('vocabulary')"
      >
        Vocabulary Challenge
      </button>
    </div>
  </div>
</div>
