<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand">Quiz Administration</div>
    <div>
      <button class="btn btn-light mr-1" (click)="viewMain()">Main</button>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-light" id="playerDropdown" ngbDropdownToggle>
          Players
        </button>
        <div ngbDropdownMenu>
          <button
            *ngFor="let state of stateService.states"
            ngbDropdownItem
            (click)="selectPlayer(state.name)"
          >
            {{ state.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
