:host {
  height: 20px;
  padding-left: 7ex;
  text-indent: 0ex;
}

span.dot {
  color: rgba(0, 0, 0, 0);
}

span.dot.correct {
  color: green;
}

span.dot.incorrect {
  color: maroon;
}

span.submitted {
  text-decoration: line-through;
}
