span.question-strike.submitted {
  text-decoration: line-through;
  text-decoration-thickness: 0.45ex;
}

span.question-strike.correct {
  color: green;
}

span.question-strike.incorrect {
  color: maroon;
}

span.question-strike.delegated {
  color: rgba(0, 0, 0, 0.5);
}

span.question-text {
  color: black;
}
