<ng-template #scoreTitle>The Leaderboard</ng-template>
<ng-template #scoreContent>
  <ul class="list-group">
    <li
      *ngFor="let player of players"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="player_score">{{ player.score }}</span>
      <span class="player_name">{{ player.name | uppercase }}</span>
    </li>
  </ul>
</ng-template>

<ng-template #breakdownTitle>Your Points</ng-template>
<ng-template #breakdownContent>
  <ul class="list-group">
    <li
      *ngFor="let item of scoreItems"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="item_description">
        {{ item.description }}
        <span *ngIf="item.bonus" class="badge bg-success">BONUS</span></span
      >

      <span class="item_score">{{ item.score }}</span>
    </li>
  </ul>
</ng-template>

<button
  type="button"
  class="btn btn-outline-secondary"
  placement="bottom"
  [ngbPopover]="breakdownContent"
  [popoverTitle]="breakdownTitle"
  triggers="mouseenter:mouseleave"
  [openDelay]="200"
  [closeDelay]="500"
>
  {{ session.username }} - {{ playerService.score | number: "1.0-3" }}
</button>

<button
  type="button"
  class="btn btn-outline-secondary"
  placement="bottom"
  [ngbPopover]="scoreContent"
  [popoverTitle]="scoreTitle"
  triggers="mouseenter:mouseleave"
  [openDelay]="200"
  [closeDelay]="500"
>
  {{ placeToWords(place) + " place" | titlecase }}
</button>
